@import '../../../../../variables';
@import '../../../../../responsive-variables.scss';

:host ::ng-deep .p-card-header img {
    width: 70px!important;
    margin: auto;
    display: block;
    min-height:194px;
}

:host  ::ng-deep   .p-card-subtitle{
    color:$success-color!important;
    font-weight: 500!important;
}

:host  ::ng-deep  .p-card-title{
    color:$purple-color!important;
}
:host  ::ng-deep .p-card{
    border-radius:24px;
    padding:24px;
    margin:30px 0!important;
}

:host  ::ng-deep .p-button-primary{
    background-color:$primary-color;
    border:none
}

:host ::ng-deep .p-button-secondary{
    background-color:$default-color!important;
    border:none!important;
}

.products-wraper{
    padding-left:32px;
    @include md{
        padding-left:0;
    }
}