
p-progressBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99998;

    // p-progressBar {

    //     .mat-progress-bar-buffer {
    //         background-color: #C5C6CB !important;
    //     }
    // }
}
