<div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products$ | async">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>
            <button (click)="showUpdateForm(product)" class="btn btn-primary" style="margin: 5px">Update</button>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin: 5px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
      <h4>Update Product</h4>
      <form (ngSubmit)="updateProduct(updateForm)" #updateForm="ngForm">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="productToBeUpdated.name"
            style="width: 400px"/>
        </div>
        <div class="form-group">
          <label for="side">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            required
            [(ngModel)]="productToBeUpdated.description"
            style="width: 400px"/>
        </div>
        <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>